nav {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}
.nav__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2.5rem;
}
.nav__logo {
  display: flex;
  align-items: center;
}
.nav__logo h2 {
  font-family: "Alegreya Sans", sans-serif;
  color: white;
}
.nav__item {
  list-style: none;
}
.nav__item a {
  color: white;
  text-decoration: none;
  &:hover {
    border-top: white 3px solid;
  }
}
.nav__cart {
  margin: 0 1.2rem 0 0;
}
