.product {
  height: auto;
  display: grid;
  padding: 2.5rem;
  grid-template-columns: 1fr 1fr;
  img {
    height: 100vh;
  }
  .text {
    width: 80%;
    margin: auto;
    h1 {
      font-size: 4rem;
      margin-bottom: 4rem;
    }
    p {
      margin-bottom: 1.2rem;
      font-size: 1.2rem;
    }
  }
}
@media screen and (max-width: 1000px) {
  .product {
    grid-template-columns: 1fr;
    img {
      display: none;
    }
  }
}
@media screen and (max-width: 700px) {
  .text {
    width: 100%;
  }
}
