@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans|Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

nav {
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2.5rem;
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo h2 {
  font-family: "Alegreya Sans", sans-serif;
  color: white;
}

.nav__item {
  list-style: none;
}

.nav__item a {
  color: white;
  text-decoration: none;
}

.nav__item a:hover {
  border-top: white 3px solid;
}

.nav__item a:focus {
  outline: none;
  border-top: white 3px solid;
}

.nav__cart {
  margin: 0 1.2rem 0 0;
}

.nav__cart:focus {
  border: 2px solid white;
  outline: none;
  border-radius: 25%;
}

@media screen and (max-width: 500px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main p {
  padding: 1.2rem 4.5rem;
  font-size: 1.4rem;
  width: 80%;
}

main h1 {
  font-size: 2.5rem;
  margin: 1.5rem 0;
  padding: 0 2.5rem;
  text-align: center;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

form input,
form textarea {
  margin: 10px;
}

form .field {
  padding: 1.2rem 2.5rem;
  border: 2px solid #515151;
}

form .field:first-child {
  border-top-left-radius: 50px;
  border-radius: 30px 30px 0 0;
}

form .field__message {
  height: 250px;
  padding: 1.2rem 2.5rem;
  border: 2px solid #515151;
  border-radius: 0 0 30px 30px;
}

form .submit-btn {
  padding: 1.1rem 1.5rem;
  background: #999999;
  border: none;
  border-radius: 30px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2rem;
  -webkit-transition: all 50ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: all 50ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

form .submit-btn:hover {
  background-color: #515151;
}

form .submit-btn:focus {
  background-color: #515151;
  outline: none;
}

.field:focus,
.field__message:focus {
  border: 5px solid #515151;
}

footer {
  color: white;
  background: #515151;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.2rem;
  margin-top: auto;
}

footer a {
  color: white;
  text-decoration: underline;
}

footer a:hover {
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
}

@media screen and (max-width: 1000px) {
  main p {
    width: 100%;
    padding: 1.2rem 1.2rem;
  }
  main form {
    width: 96%;
  }
}
/*# sourceMappingURL=main.css.map */